@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 58s linear infinite;
  white-space: nowrap;
}


.marquee2{
  animation: marquee 58s linear infinite;
  white-space: nowrap;
  animation-direction: reverse;
}